
//color themes
$dark_bg_primary:#020126;
$dark_btn_clr:hsl(242, 84%, 67%);
$dark_opac_btn_clr:hsl(242, 86%, 72%);
$dark_text_clr:hsl(255, 8%, 45%);
$light_bg_primary:white;
$light_btn_clr:#5c57f2;
$light_text_clr:#f2f2f2;


